# pypi构建
rimetool.egg-info/
build/
dist/
__pycache__/


# 测试文件
test/
*dict.yaml.txt
*dict.yaml
*output*
rimetool/rimetool_gui/uploads/
rimetool/rimetool_gui/outputs/

# 日志文件
rimetool_gui/rimetool_gui.log

# 环境
.venv/
.vscode/

# 其他
.DS_Store