# 打包缓存
rimetool.egg-info/
build/
dist/
__pycache__/
rimetool_cache/

# 测试文件
test/
*dict.yaml.txt
*dict.yaml
*output*

# 日志
rimetool/rimetool_gui/logs
*.log
rimetool/rimetool_gui/logs/rimetool_gui.log

# 环境
.venv/
.vscode/

# 其他
.DS_Store